  <div id="wrapper">
  <app-top-bar></app-top-bar>
  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DashBoard 
                            <small>Vehicle Admin</small>
                        </h1>
                        
                    <div class="container">
                        <h1>Vehicle Catalogue</h1>
                        <input #myInput type="text" class="form-control" placeholder="Vehicle title..."  (input)="filterItem(myInput.value)">

                        <table class="table" style="width: 90%; table-layout: fixed;">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let vehicle of filteredItems">
                            <td>{{ vehicle.title }}</td>
                            <td>{{ vehicle.description }}</td>
                            <td>{{ vehicle.price }}</td>
                            <td><a (click)= "onUpdateClick(vehicle._id)" class="btn btn-small btn-primary">Update</a></td>
                            <td><a (click)= "deleteVehicle(vehicle._id)"   class="btn btn-small btn-danger">delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>                        
                        
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

 </div>
  </div>